{% extends "padre_formulario.html" %}
{% block titulo %} Bienvenido a Sobre Mi {% endblock %}
{% block subtitulo %}

<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="{{user.avatars_set.last.imagen.url}}" height="500" width="500"> </div>
                
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">{% block bloque1 %} {% endblock %}</h2>

                    <p> 
                        
                        Hola a aquí puedes encontrar tus datos {{ nick }} </p>

                    <p>   Tu(s) nombre(s):    {{ nombre }} 
                       </p> 
                       <p>   Tu(s) Apellido(s):    {{ apellido }} 
                    </p> 
                    <p>   Tu email:    {{ email }} 
                    </p> 


                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}


{% block boton %} 
<p> Te invito a volver al inicio o a editar tus datos</p>

<p>
<a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'Inicio'%}">Inicio</a> 
<a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'actualizar'%}">Actualizar Perfíl</a> 


{% endblock %}

