{% extends "padre.html" %}
{% block titulo %} Bienvenido a musica {% endblock %}
{% block subtitulo %}  Mejores estreno del mes  {% endblock %}
{% block boton %} <a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'nueva_musica'%}">Agregar Canción</a> 
<a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'revisar_musica'%}">Buscar Cancion</a> 
<a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'lista_musica'%}">Listado de Canciones</a>
<a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'up_musica1'%}">Actualizar listado de Canciones</a>
<a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'del_musica'%}">Borrar Musica</a>
{% endblock %}
{% block bloque1 %} Luna {% endblock %}
{% block descripcion_bloque1 %} Feid la vuelve a romper en conjunto con Jacob en su nuevo album. En este album recomendamos si o si escuchar Luna. {% endblock %}
{% block img_bloque1 %} "../static/AppPeliculas/assets/img/031.jpg"  {% endblock %} 
{% block bloque2 %} Princesita de ... {% endblock %}
{% block descripcion_bloque2 %} El connotado artista chileno Jere Klein vuelve a los top con su nuevo tema. {% endblock %}
{% block img_bloque2 %} "../static/AppPeliculas/assets/img/032.png"  {% endblock %} 
{% block bloque3 %} Who i am {% endblock %}
{% block descripcion_bloque3 %} Alan Walker vuelve de su retiro para componer en conjunto a Putri Ariani y Peder Elias. Este nuevo tema puede ser lo que suene en electronica este verano. {% endblock %}
{% block img_bloque3 %} "../static/AppPeliculas/assets/img/033.jpg" {% endblock %}