{% extends "padre_formulario.html" %}
{% block titulo %} Bienvenido a Musica {% endblock %}









{% block formulario %}
<body>
    <h1>¿Qué serie quieres que agreguemos?</h1>
    <form action="/crearmusica/" method="post"> {% csrf_token %}
       <p> Nombre <input type="text" name="nombre"></p>
       <p> Año <input type="number" name="año"></p>
       <p> Duracion <input type="number" name="duracion" step="0.01"></p>
       <p> Genero <input type="text" name="genero"></p>
        <input type="submit" value="Guardar">

    </form>
</body>
{% endblock %}